@use 'sass:string';

// --- Variables --- //

// Measures
$baseSpacing: 1.1vw;
$primaryBorderRadius: 0.75vw;
$secondaryBorderRadius: 2.5vw;
$decoBlocksWidth: 6%;
$nextLevelScale: 0.87;
$nextLevelOpacity: 0.8;
// Colors
$primaryColor: #F7C10E;
$secondaryColor: #E70113;
$cardColor: #F2F2F2;
$backgroundColor: rgba($primaryColor, 0.85);
// Others
$shadow: 0px 0px 8px 0px rgba(#000, 0.5);


// --- Mixins --- //

@mixin animation( $name, $duration, $extraAttrs: () ) {
    @keyframes #{$name} {
        @content;
    }

    .#{$name} {
        animation-fill-mode: forwards;
        animation-name: $name;
        animation-duration: $duration;
        @each $attr, $val in $extraAttrs {
            #{$attr}: #{$val};
        }
    }
}

@mixin inline-animation( $duration, $extraAttrs: () ) {
    $name: inline-#{string.unique-id()};

    @keyframes #{$name} {
        @content;
    }

    animation-fill-mode: forwards;
    animation-name: $name;
    animation-duration: $duration;
    @each $attr, $val in $extraAttrs {
        #{$attr}: #{$val};
    }
}
