@charset 'utf-8';

// --- Imports --- //

@import '_includes.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');
@font-face {
    font-family: 'SMM2';
    src: url('../fonts/super-mario-maker-2.ttf') format('truetype');
}


// --- General styles --- //

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'SMM2', sans-serif;
    font-size: 10px;
    background-color: transparent;
}


// --- SMM2 overlay --- //

.hidden {
    visibility: hidden;
}

.main-wrapper {
    display: flex;
    width: 100%;
    min-width: 500px;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &.test {
        background-color: #666;
    }

    .overlay-container {
        display: flex;
        position: relative;
        padding: 10px 10px 0 10px;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        .game-bar {
            flex: 1 1 auto;
            z-index: 10;

            &, & .main-bar {
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                align-items: stretch;
            }

            .deco-blocks {
                flex: 0 0 $decoBlocksWidth;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: stretch;

                .block {
                    display: block;
                    position: relative;
                    margin: $baseSpacing $baseSpacing 0 0;
                    background-color: $backgroundColor;
                    border-radius: $primaryBorderRadius;
                    box-shadow: $shadow;

                    &::before {
                        content: '';
                        display: block;
                        padding-top: 100%;
                        width: 100%;
                    }

                    &:first-child {
                        margin-left: auto;
                        width: 40%;
                    }

                    &:last-child {
                        width: auto;

                        &::after {
                            content: "?";
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: .12em;
                            height: 100%;
                            line-height: 135%;
                            font-size: 3.75vw;
                            color: #FFF;
                            text-align: center;
                            text-shadow: 0px 0px 6px rgba(#000, 0.5);
                        }
                    }
                }
            }

            .main-bar {
                flex: 1 1 auto;
                overflow: hidden;
                padding: $baseSpacing;
                background-color: $backgroundColor;
                border-radius: $primaryBorderRadius;
                border-top-right-radius: $secondaryBorderRadius;
                border-bottom-right-radius: $secondaryBorderRadius;
                box-shadow: $shadow;
                filter: blur(0px);

                .levels {
                    flex: 1 1 auto;
                    position: relative;

                    .no-levels {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        z-index: 10;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: $primaryBorderRadius;
                        background-color: rgba(#FFF, 0.5);
                        backdrop-filter: blur(3px);
                        box-shadow: 0px 0px 5px 0px rgba(#000, 0.25);

                        img {
                            height: 100%;
                            width: auto;
                        }

                        .text {
                            margin: 0 3% 0 4%;

                            p {
                                margin: 0;
                                font-size: 1.81vw;
                                text-align: center;

                                & + p {
                                    margin-top: 0.3em;
                                }

                                &:first-child {
                                    $movementPercentage: 7.5%;
                                    font-size: 3.5vw;
                                    transform: translateY(-$movementPercentage);

                                    @include inline-animation(1s, (
                                        animation-timing-function: ease,
                                        animation-iteration-count: infinite
                                    )) {
                                        from {
                                            transform: scale(1);
                                        }
                                        50% {
                                            transform: scale(1.075);
                                        }
                                        to {
                                            transform: scale(1);
                                        }
                                    }
                                }

                                &:last-child {
                                    font-family: 'Roboto', sans-serif;
                                }

                                strong {
                                    display: inline-block;
                                    font-family: 'SMM2', sans-serif;
                                    font-weight: 400;
                                    font-size: 1.1em;
                                    vertical-align: baseline;
                                }
                            }
                        }
                    }

                    .placeholders {
                        display: flex;
                        flex-direction: row;
                        justify-content: stretch;
                        align-items: stretch;
                        position: absolute;
                        z-index: 5;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        .placeholder {
                            flex: 1 1 50%;
                            border: 4px dashed #000;
                            border-radius: $primaryBorderRadius;
                            background-color: #aeaeae;
                            mix-blend-mode: multiply;
                            opacity: 0.15;

                            &:last-child {
                                transform: scale($nextLevelScale);
                            }
                        }
                    }

                    .levels-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: stretch;
                        align-items: stretch;
                        position: relative;
                        z-index: 7;

                        .level-info {
                            flex: 1 1 1px;
                            display: flex;
                            flex-direction: row;
                            justify-content: stretch;
                            align-items: center;
                            padding: 1.5%;
                            border-radius: $primaryBorderRadius;
                            background-color: $cardColor;
                            box-shadow: 0px 0px 5px 0px rgba(#000, 0.15);
                            transform: scale($nextLevelScale);
                            opacity: $nextLevelOpacity;

                            &#current-level {
                                background-color: $cardColor;
                                transform: scale(1);
                                opacity: 1;
                            }

                            .avatar {
                                flex: 0 0 18%;
                                overflow: hidden;
                                position: relative;
                                margin-right: 1.5vw;
                                border-radius: 50%;
                                background-color: #cacaca;

                                &::before {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    padding-top: 100%;
                                }

                                .user-avatar {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }

                                .loading-spinner {
                                    @keyframes spinner-loader { to { transform: scale(1.05) rotate(360deg); } }
                                    display: none;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    transform: scale(1.05);
                                    border-radius: 50%;
                                    border: 0.75vw solid #929292;
                                    border-top-color: $primaryColor;
                                    animation: spinner-loader .65s linear infinite;
                                }

                                &.loading {
                                    .user-avatar {
                                        visibility: hidden;
                                    }

                                    .loading-spinner {
                                        display: block;
                                    }
                                }
                            }

                            .info {
                                flex: 1 1 auto;
                                font-size: 2vw;

                                .user-name {
                                    margin-bottom: .35em;
                                    color: #656565;
                                }

                                .level-code {
                                    font-size: 2.4vw;
                                    letter-spacing: .1em;
                                    color: #222;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }

                .counters {
                    flex: 0 0 15%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: stretch;
                    padding-right: $baseSpacing * 1.5;

                    .counter-icons,
                    .counter-numbers {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-end;

                        img {
                            display: block;
                            flex: 0 0 auto;
                            width: 100%;
                            height: auto;
                        }

                        div {
                            font-size: 2.75vw;
                            text-align: right;
                        }
                    }

                    .counter-icons {
                        flex: 0 0 28%;
                    }

                    .counter-numbers {
                        flex: 0 0 20%;
                        margin-left: 1.25vw;
                    }
                }
            }
        }

        .prompt-container {
            overflow: hidden;
            width: calc(#{100% - $decoBlocksWidth} - #{$primaryBorderRadius} - #{$secondaryBorderRadius});
            margin-left: auto;
            margin-right: $secondaryBorderRadius;

            .prompt {
                overflow: hidden;
                position: relative;
                top: -100%;
                padding: 1vw;
                background-color: rgba(#FFF, 0.75);
                $mask: linear-gradient(
                    to right,
                    rgba(#FFF, 0),
                    #FFF 5%,
                    #FFF 95%,
                    rgba(#FFF, 0)
                );
                -webkit-mask-image: $mask;
                mask-image: $mask;
                transition: transform 0.75s ease-in-out;
                backface-visibility: hidden;

                .message {
                    font-size: 2vw;
                    font-family: 'Roboto', sans-serif;
                    white-space: nowrap;
                    visibility: hidden;
                    backface-visibility: hidden;

                    p {
                        display: inline-block;
                        margin: 0;
                        white-space: nowrap;

                        & + p {
                            margin-left: 6em;
                        }
                    }
                }

                &.visible {
                    transform: translateY(100%);
                }
            }
        }
    }
}


// --- Animations --- //

@include animation(prompt-marquee, 25s, (
    animation-timing-function: linear,
    animation-iteration-count: infinite,
    visibility: visible !important
)) {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-200%);
    }
}

@include animation(current-level-placeholder-pop-in, .75s, (
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.680, 1.250)
)) {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@include animation(current-level-slide-in, .75s, (
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.680, 1.250)
)) {
    from {
        transform: scale(1) translateY(-250%);
    }
    to {
        transform: scale(1) translateY(0%);
    }
}

@include animation(current-level-slide-out, .75s, (
    animation-timing-function: cubic-bezier(0.600, -0.250, 0.735, 0.045)
)) {
    from {
        transform: scale(1) translateY(0%);
    }
    to {
        transform: scale(1) translateY(-250%);
    }
}

@include animation(next-level-placeholder-pop-in, .75s, (
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.680, 1.250)
)) {
    from {
        transform: scale(0);
    }
    to {
        transform: scale($nextLevelScale);
    }
}

@include animation(next-level-slide-in, .75s, (
    animation-timing-function: cubic-bezier(0.250, 0.250, 0.680, 1.250)
)) {
    from {
        transform: scale($nextLevelScale) translateY(-250%);
    }
    to {
        transform: scale($nextLevelScale) translateY(0%);
    }
}

@include animation(next-level-to-current, 1s, (
    animation-timing-function: cubic-bezier(0.600, -0.090, 0.735, 0.045)
)) {
    from {
        transform: scale($nextLevelScale) translateX(0%);
        opacity: $nextLevelOpacity;
    }
    to {
        transform: scale(1) translateX(-100%);
        opacity: 1;
    }
}

@include animation(no-levels-slide-in, 1.75s, (
    animation-timing-function: linear
)) {
    0% {
        transform: translateY(-350%);
    }
    50% {
        transform: translateY(-50%);
    }
    60% {
        transform: translateY(0%);
    }
    65% {
        transform: translateY(-15%);
    }
    75% {
        transform: translateY(-20%);
    }
    80% {
        transform: translateY(-5%);
    }
    85% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-6%);
    }
    100% {
        transform: translateY(0%);
    }
}

@include animation(no-levels-slide-out, .35s, (
    animation-timing-function: cubic-bezier(1.000, 0.020, 1.000, 0.955)
)) {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(200%);
    }
}
